body {
    background: rgb(96, 96, 189);
  }
  h1 {
    color: blue;
    font-family: Georgia;
  }
  p#introduction {
    color: rgb(255, 0, 0);
  }
  a:link {
    color: blue;
  }
  /*i wanted to make it look real*/
  a:visited {
    color: purple;
  }